@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    background-color: #1b2531;
    font-family: 'Lato', sans-serif;
}

.nav {
    margin: 0;
    padding: 0;
    width: 40x;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 77);

}
.nav ul {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 25%;
    list-style: none;
    right: 20px;
    display: inline;
}

.nav ul > li {
    padding: 10px;
    float: left;
}

.nav li > a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav li > a:hover {
    color: cyan;
}

.icon {
    position: absolute;
    top: 10px;
    left: 20px;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(./assets/icon.png);
    background-size: contain;
}

.icon-text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 8px;
    left: 55px;
}

.hero-video {
    position: relative;
    height: 550px;
}

.hero-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}


.hero-video video {
    min-width: 100%;
    height: inherit;
    object-fit: cover;
    /* clip-path: inset(0%, 100%, 60%, 10%); */
}

.hero-text {
    position: absolute;
    top: 25%;
    left: 44%;
    font-size: 36px;
    z-index: 2;
    text-align: center;
    line-height: 20px;
    transition: transform 0.5s;
}

.hero-text span {
    font-size: small;
}

.hero-text a {
    color: white;
    text-decoration: none;
}

.hero-text a:hover {
    color: cyan;
}

.hero-text:hover {
    transform: scale(1.1, 1.1);
}

@media only screen and (max-width: 650px) {
    .nav ul {
        display: none;
    }
}
