@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');


body {
    background-color: #0d1117; 
    /* background-color: #239869;  */
    /* background-image: url('./assets/pexels-alexander-tiupa-192136.jpg'); */
    background-attachment: fixed;
    margin: 0 30px 10px 30px;
    color: white;
    font-family: 'Sawarabi Gothic', sans-serif;
}

::selection {
    color: red;
    background-color: white;
}

/* The >* part which is key: apply blur to the children individually
rather than to the parent, that way children can individually un-blur. */

/* body>*:hover {
    outline: 2px dotted red;
    outline-offset: 3px;
}

body>*>*:hover {
    outline: 1px orange solid;
} */

.top {
    background-image: url('./assets/border-top.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
    width: 100%;
    height: 32px;
}

#alert {
    max-width: 100%;
    margin: 20px 0 20px 0;
    min-height: 40px;
    padding: 10px;
    background-color: yellow;
    color: red;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

header {
    color:white;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: sticky;
    background-color: inherit;
    top: 0px;
    opacity: 0.9;
}

#clock {
    position:fixed;
    bottom: 0;
    right: 0;
    color: whitesmoke;
    font-size: 14px;
    text-align: right;
    vertical-align: bottom;
    max-width: 250px;
    min-height: 60px;
    padding: 10px;
    background-color: #362f4b;
    border: 5px solid #1f1835;
    transition: transform 1s;
}

#clock:hover {
    color: cyan;
    transform: scale(1.1, 1.2);
}

#mark {
    color: blueviolet;
}

.blink {
    font-size: 35px;
    font-weight: 900;
    color:orange;
}

table, th, td {
    border: 1px white solid;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}

.table-contents {
    /* border: 1px solid white; */
    border-radius: 5px 60px 60px 5px;
    border-left-style: solid;
    border-width: 12px;
    border-color: #50407d;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #362f4b;
}

.table-contents h2 {
    margin-top: 0;
}

a {
    color: white;
}

a:hover {
    color: cyan;
}

.title {
    color:cyan;
    text-decoration: overline;
}

#data-table th {
    background-color: #362f4b;
    color: whitesmoke;
}

#data-table tr:nth-child(odd) {
    background-color: #f6f6f672;
    color: black;
}

#data-table tr:hover {
    background-color: rgba(192, 59, 59, 0.434);
}

/* #data-table tbody tr:first-child td:last-child {
    background-color: #f6f6f672;
    color: black;
} */

ul {
    list-style-type:square;
}

nav {
    width: 300px;
    height: auto;
    margin: 20px 0 10px;
    padding: 10px 0 10px;
    background-color: #362f4b;
    border-radius: 5px;
    border: 5px solid #1f1835;
}

nav > a {
    margin-left: 10px;
    text-decoration: none;
}

nav a:hover {
    color:cyan;
    background-color: rgba(41, 39, 39, 0.579);
}

footer {
    margin: 10px 0 10px 0;
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}

footer:hover {
    color: cyan;
}

figcaption {
    text-align: center;
}

#bgcolor {
    padding: 0;
    width: 0;
    height: 24px;
    visibility: hidden;
}

#color-value {
    font-size: 15px;
}

.default {
    color: white;
}

#register {
    position: absolute;
    top: 20px;
    right: 10px;
    /* float: right;  */
    width: 110px; 
    height: 40px;
    padding: 5px;
    background-color: #362f4b;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    border: 3px solid #1f1835;
    transition: transform 2s;
    
}

#register:hover {
    color:cyan;
    box-shadow: 0 3px 15px 2px rgba(0,255,255, 0.7);
    transform: scale(1.2, 1.2);
}

.indent-para {
    text-indent: 20px;
}

p {
     letter-spacing: 1.3px;
     word-spacing: 1.5px;
     line-height: 2;
}

img.center { /* img element and center class */
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: wait;
    display: none;
}

.w3-row-padding:hover img {
    display: block;
}