@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');


body {
    background-color: #0d1117; 
    /* background-color: #239869;  */
    /* background-image: url('./assets/pexels-alexander-tiupa-192136.jpg'); */
    background-attachment: fixed;
    margin: 0 30px 10px 30px;
    color: white;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.top {
    background-image: url('./assets/border-top.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
    width: 100%;
    height: 32px;
}

#alert {
    width: 100%;
    margin: 20px 0 20px 0;
    height: 40px;
    padding: 10px;
    background-color: yellow;
    color: red;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

header {
    color:white;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#clock {
    color: whitesmoke;
    font-size: 15px;
    text-align: right;
    float: right;
    width: 250px;
    height: 60px;
    padding: 10px;
    background-color: #362f4b;
    border-radius: 5px;
}

#clock:hover {
    color: cyan;
}

#mark {
    color: blueviolet;
}

.blink {
    font-size: 35px;
    font-weight: 900;
    color:orange;
}

table, th, td {
    border: 1px white solid;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}

.table-contents {
    /* border: 1px solid white; */
    border-radius: 5px 60px 60px 5px;
    border-left-style: solid;
    border-width: 12px;
    border-color: #50407d;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #362f4b;
}

a {
    color: white;
}

a:hover {
    color: cyan;
}

.title {
    color:cyan;
}

#data-table th {
    background-color: #362f4b;
    color: whitesmoke;
}

#data-table tr:nth-child(odd) {
    background-color: #f6f6f672;
    color: black;
}

/* #row01 {
    background-color: #f6f6f672;
    color: black;
} */

#data-table tbody tr:first-child td:last-child {
    background-color: #f6f6f672;
    color: black;
}

ul {
    list-style-type:square;
}

nav {
    width: 300px;
    height: 95px;
    margin: 20px 0 10px;
    padding: 10px 0 10px;
    background-color: #362f4b;
    border-radius: 5px;
}

nav > a {
    margin: 10px;
    padding: 5px;
    text-decoration: none;
}

footer {
    margin: 10px 0 10px 0;
    width: 100%;
    text-align: center;
}

footer:hover {
    color: cyan;
}

figcaption {
    text-align: center;
}

img.center { /* img element and center class */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bgcolor {
    padding: 0;
    width: 0;
    height: 24px;
    visibility: hidden;
}

/* #color-wheel-img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0;
    background-image: url('./assets/color-circle.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
} */

#color-value {
    font-size: 15px;
}

/* The >* part which is key: apply blur to the children individually
rather than to the parent, that way children can individually un-blur. */

/* .hero>* {
    filter: blur(2px);
} */

.default {
    color: white;
}

#register {
    float: right; 
    width: 110px; 
    height: 40px;
    padding: 5px;
    background-color: #362f4b;
    border: none;
    color: white;
    border-radius: 2px;
}

#register:hover {
    color:cyan;
}