body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(31, 32, 36);
    color: rgb(221, 221, 221);
}

.ml-20 {
   margin-left: 20px ;
}

li button {
    bottom: 10px;
    right: 10px;
    margin: 10px;
}

.input-hold {
    position: relative;
    margin: auto;
    max-width: 300px;
    min-width: 50%;
    height: 50px;
}

.input-text {
    position: relative;
    padding: 15px;
    font-size: 15px;
    min-width: 100%;
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    color:rgb(221, 221, 221);
    background-color: rgb(41, 42, 47);
    border-style: none;
}

.input-text:focus {
    background-color: rgb(51, 52, 56);
    outline: none;
}

li {
    position: relative;
    min-width: 250px;
    height: auto;
    text-align: center;
    background-color: rgb(41, 42, 47);
    /* box-shadow: 0 3px 3px gray, 0px 3px 3px 3px gray; */
    box-shadow: rgb(27 28 31) 0px 1px 2px 0px;
    margin: 15px 10px;
    list-style: none;
    padding: 20px;
    transition: 0.3s transform;
    border-radius: 5px;
    transition-timing-function: ease-out;
}

li:hover {
    transform: scale(1.05, 1.05);
    border: 1px solid #d9d9d9;
}

.flex-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.done-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-image: url("./assets/check.png");
    position: absolute;
    top: 15px;
    left: 10px;
    cursor: pointer;
}

.delete-btn {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./assets/trash.png");
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0 3px;
    display: inline-block;
    cursor: pointer;
}

.edit-btn {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-image: url("./assets/edit.png");
    position: absolute;
    bottom: 10px;
    margin: 0 3px;
    right: 40px;
    cursor: pointer;
}

.ml-20 p {
    color: red;
    display: inline;
}

.task-text {
    text-decoration: inherit;
    display: inline-block;
    height: 80px;
    max-width: 150px;
    margin: 10px;
    overflow-wrap:break-word;
}

.add {
    position: absolute;
    display: inline-block;
    font-size: larger;
    z-index: 1;
    right: 10px;
    bottom: 14px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url(./assets/add.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.not-supported {
    display: none;
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
    .flex-list {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    
    li {
        width: auto;
        height: auto;
        justify-content: space-evenly;
        padding: 10px;
    }

    .not-supported {
        display: none;
    }

    li:hover {
        transform: scale(1.015, 1.01);
    }

    .done-btn {
        width: 24px;
        height: 24px;
    }

    .edit-btn {
        width: 20px;
        height: 20px;
    }
    .delete-btn {
        width: 20px;
        height: 20px;
    }

    .task-text {
        text-decoration: inherit;
        display: inline-block;
        height: auto;
        max-width: 300px;
        margin: 10px;
    }

}

@media only screen and (max-width: 413px) {
    .not-supported {
        position: absolute;
        top: 30%;
        margin: auto;
        display: block;
        text-align: center;
        background-color: rgba(255, 255, 0, 0);
        color: rgb(221, 221, 221);
        font-size: 15px;
        font-weight: bold;
        filter: blur(0px);
        z-index: 10;
    }

    body {
        margin: 0px;
    }

    body>* {
        filter:blur(10px);
    }
}