body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ml-20 {
   margin-left: 20px ;
}

li button {
    bottom: 10px;
    right: 10px;
    margin: 10px;
}

.input-hold {
    position: relative;
    margin: auto;
    max-width: 300px;
    min-width: 50%;
    height: 50px;
}

.input-text {
    position: relative;
    padding: 15px;
    font-size: 15px;
    min-width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

.input-text:focus {
    background-color: whitesmoke;
}

li {
    position: relative;
    min-width: 250px;
    height: auto;
    text-align: center;
    box-shadow: 0 3px 3px gray, 0px 3px 3px 3px gray;
    margin: 15px 10px;
    list-style: none;
    padding: 20px;
    transition: 0.5s transform;
    transition-timing-function: ease-out;
}

li:hover {
    transform: scale(1.05, 1.05);
}

.flex-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.done-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-image: url("./assets/tick.png");
    position: absolute;
    top: 15px;
    left: 10px;
    cursor: pointer;
}

.delete-btn {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./assets/trash.png");
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0 3px;
    display: inline-block;
    cursor: pointer;
}

.edit-btn {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-image: url("./assets/edit.png");
    position: absolute;
    bottom: 10px;
    margin: 0 3px;
    right: 40px;
    cursor: pointer;
}

.ml-20 p {
    color: red;
    display: inline;
}

.task-text {
    text-decoration: inherit;
    display: inline-block;
    height: 80px;
    max-width: 150px;
    margin: 10px;
    overflow-wrap:break-word;
}

.clear {
    position: absolute;
    display: inline-block;
    font-size: larger;
    z-index: 1;
    right: 10px;
    bottom: 7px;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.not-supported {
    display: none;
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
    .flex-list {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    
    li {
        width: auto;
        height: auto;
        justify-content: space-evenly;
        max-height: 35px;
        overflow-y:scroll;
    }

    .not-supported {
        display: none;
    }

    li:hover {
        transform: scale(1.015, 1.01);
    }

}

@media only screen and (max-width: 413px) {
    .not-supported {
        position: relative;
        display: block;
        max-width: 100%;
        text-align: center;
        background-color: rgba(255, 255, 0, 0.372);
        color: red;
        font-size: 15px;
        font-weight: bold;
        filter: blur(0px);
    }

    body {
        margin: 0px;
    }

    body>* {
        filter:blur(10px);
    }
}